.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10rem auto;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
  flex-wrap: wrap;
}

.project {
  height: 350px;
  padding: 1rem;
  min-width: 200px;
  width: 300px;
  margin: 1rem;
  text-align: center;
  border: 1px solid #eee;
  transition: transform 2s;
}

.project:hover{
  transform: scale(1.1);
}

.a {
  font-size: 1rem;
  color: orangered;
  cursor: pointer;
}

.a:hover{
  border: 1px solid orange;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}