.section{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}


.image{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}


.skills{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}