.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
    width: 96%;
    margin: 1px auto;
    margin-top: 50px;
    max-width: 500px;
}

.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}