.section{
    width: 90%;
    margin: auto;
}
.card{
    margin: 10px;
    max-width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0,0, 0, .2);
}